@font-face {
    font-family:openSans ;
    src: url(../fonts/openSans/static/OpenSans-Regular.ttf);
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 outline: none;
 list-style-type: none;
 text-decoration: none;

}

body{
    font-family: 'openSans',Arial, Helvetica, sans-serif;
    
}

.container{
 width: 1200px;
 margin: 0 auto;
}
header{
    padding: 20px;
    height: 528px;
    background-image: url("../images/bg.png"); no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    color: #cecdcd;
    margin-left: 20px;
}

.active{
    color: white;
}

.info{
    margin-top: 70px;
}

.info-title{
    font-weight: 700;
    color: white;
    font-size: 25px;
    text-transform: uppercase;

}

.info-description{
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: white;
    margin: 30px 0;
    width: 60%;
}

.contact-us-button,
.button{
color: white;
 padding: 10px 20px;
 border-radius: 4px;
 display: inline-block;
 background-color: #0193dc;
}
 
.video-and-info{
    padding: 50px 0;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}
.video-and-info-description-title{
    font-size: 30px;
    width: 70%;
}

.video-and-info-description{
    color: #919fae;
    margin: 20px 0;
    font-size: 20px;
}
